<div class="icon">
  <img src="https://img.icons8.com/bubbles/100/000000/salary-male.png">
</div>
<div class="titel_desktop">
  <p><b>Моя зарплата</b></p>
</div>
<form [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="group">
    <input type="text" class="form-control" id="username" formControlName="username" required>
      <span class="highlight"></span><span class="bar"></span>
    <label class="aut_form_lable" for="username">Логин</label>
    <div class="alert-danger" *ngIf="loginForm.get('username').errors?.required && loginForm.get('username').touched"></div>
  </div>
  <div class="group">
    <input type="password" class="form-control" formControlName="password" required>
    <span class="highlight"></span><span class="bar"></span>
    <label class="aut_form_lable" for="password">Пароль</label>
    <div class="alert-danger" *ngIf="loginForm.get('username').errors?.required && loginForm.get('username').touched"></div>
  </div>
  <div class="button-container">
    <button [disabled]="loading" class="btn button"><span>Войти</span></button>
  </div>
  <div *ngIf="error" class="errorsText">{{error}}</div>
</form>


  <div class="content_desktop_conteiner">
    <div class="course-container_desktop">
      <p class="title"><b>Курс валют</b></p>
      <table class="courses_desktop" >
        <tr class="header-table">
          <td></td>
          <td></td>
          <td>Покупка</td>
          <td>Продажа</td>
        </tr>
        <tr *ngFor="let cours of curren">
          <td>{{cours.ccy}}</td>
          <td>{{cours.base_ccy}}</td>
          <td>{{cours.buy | number:'0.1-2'}}</td>
          <td>{{cours.sale | number:'0.1-2'}}</td>
        </tr>
      </table>
    </div>   
  <div class="conv_desktop">
    <p class="title_desktop"><b>Конвертер валют</b></p>
    <div class="content_block_desktop">
      <div class="select_desktop">
        <select class="select-text_desktop" [(ngModel)]="inCurr" required>
          <option value="" disabled selected></option>
          <option *ngFor="let item of curr">{{item}}</option>
        </select>
          <span class="select-highlight_desktop"></span>
          <span class="select-bar_desktop"></span>
          <label class="select-label_desktop">Валюта</label>
      </div>
      <div class="lit_rsp_desktop">
        <p id="lit_desktop"><img src="https://img.icons8.com/android/24/000000/sorting-arrows-horizontal.png"></p>
      </div>
      <div class="select_desktop">
        <select class="select-text_desktop" [(ngModel)]="outCurr" required>
          <option value="" disabled selected></option>
          <option *ngFor="let item of curr">{{item}}</option>
        </select>
          <span class="select-highlight_desktop"></span>
          <span class="select-bar_desktop"></span>
          <label class="select-label_desktop">Валюта</label>
      </div>
      <div class="values_desktop">
        <div class="val_input_desktop">
          <input type="text" id="value_from_desktop" [(ngModel)]="inputValue" >
          <span class="highlight_conv_desktop"></span>
          <span class="bar_conv_desktop"></span>
        </div>
        <div class="rasp">
          <p id="lit"></p>
        </div>
        <div class="val_input_desktop">
          <input type="text" id="value_in__desktop" [value]="currencyVal() | number:'0.1-2' | thousand">
          <span class="highlight_conv_desktop"></span>
          <span class="bar_conv_desktop"></span>
        </div>
      </div>
    </div>
  </div>
  </div>  
  

<!---------------------------------Mobile-------------------------------------------->
    <div id="bg">
      <div class="module">
        <div class="map">
          <div class="title_table">
          <label class="tab " for="courses" name="map"><span class="courses_tab">Курс валют</span></label>
          <label class="tab"  for="converter" name="map" >Конвертер валют</label>
        </div> 
        <input type="radio" class="hide" name="map" id="courses" checked /> 
        <div class="content">
          <table class="courses" >
            <tr class="header-table">
              <td></td>
              <td></td>
              <td>Покупка</td>
              <td>Продажа</td>
            </tr>
            <tr *ngFor="let cours of curren">
              <td>{{cours.ccy}}</td>
              <td>{{cours.base_ccy}}</td>
              <td>{{cours.buy | number:'0.1-2'}}</td>
              <td>{{cours.sale | number:'0.1-2'}}</td>
            </tr>
          </table>
        </div>
        <input type="radio" class="hide" name="map" id="converter" />
        <div class="content">
          <div class="content_block">
            <div class="select_value">
              <div class="select">
                <select class="select-text" id="" [(ngModel)]="inCurr" required>
                  <option value="" disabled selected></option>
                  <option *ngFor="let item of curr">{{item}}</option>
                </select>
                  <span class="select-highlight"></span>
                  <span class="select-bar"></span>
                  <label class="select-label">Валюта</label>
              </div>
              <div>
                <p id="lit"><img src="https://img.icons8.com/android/24/000000/sorting-arrows-horizontal.png"></p>
              </div>
              <div class="select">
                <select class="select-text" [(ngModel)]="outCurr" required>
                  <option value="" disabled selected></option>
                  <option *ngFor="let item of curr">{{item}}</option>
                </select>
                  <span class="select-highlight"></span>
                  <span class="select-bar"></span>
                  <label class="select-label">Валюта</label>
              </div>
            </div>
            <div class="values">
              <div class="val_input">
                <input type="text" id="value_from" [(ngModel)]="inputValue" >
                <span class="highlight_conv"></span>
                <span class="bar_conv"></span>
              </div>
              <div class="rasp">
                <p id="lit"></p>
              </div>
              <div class="val_input">
                <input type="text" id="value_in" [value]="currencyVal() | number:'0.1-2' | thousand">
                <span class="highlight_conv"></span>
                <span class="bar_conv"></span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>







  
      
  
    