/*##########################################Desktop##############################################################*/
* { box-sizing:border-box; }

/*Конвртер*/
.course-container_desktop{
  float: left;
  width: 300px;
  margin-left: 15%;
  margin-top: 5%;
  border-collapse: collapse;
  background: rgb(251, 255, 251);
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.courses_desktop{
  width: 100%;
  padding: 2px;
  font-size:16px;
  
}

.courses_desktop td:first-child
{
  width: 15%;
  padding: 5px;
  text-align: right;   
 }

.courses_desktop td:nth-child(2){
  color: #afa9a9;
  width: 25%;
  padding: 5px;
  
}

.courses_desktop  td:nth-child(3){
  text-align: right;
  width: 30%;

}
.courses_desktop  td:last-child{
  text-align: right;
  width: 30%;
  line-height: 2.35;
  padding-right: 10px;
}

.courses_desktop td{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(24, 22, 22)
}

.title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 1em;
  margin: 0;
  color: rgb(92, 92, 92)
}
/*##########################################Auth###############################################################*/
@font-face {
  font-family: Casual; /* Имя шрифта */
  src: url(../../../assets/19081.ttf); /* Путь к файлу со шрифтом */
 }

.titel_desktop{
  margin: 0 auto;
  width: 300px;
  margin-top: 5%;
  color: rgb(92, 92, 92);
  font-size: 24px;
  font-family: Casual;
  text-align: center;
}

form {
  width: 300px;
  height: 230px;
  margin: 0 auto;
  padding: 2em 2em 3em 2em;
  background: rgb(251, 255, 251);
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  font-family: 'Roboto';
  border-radius: 5px;
}

.group { 
  position:relative; 
  margin-bottom:45px; 
}
input {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:16px;
  padding:10px 10px 2px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background-color: rgb(251, 255, 251); 
}
input:focus 		{ outline:none; }

.aut_form_lable {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-15px;
  font-size:14px;
  color:#2F80ED;
}

/* BOTTOM BARS ================================= */
.bar { 
  position:relative; 
  display:block; 
  width:100%; 
}

.bar:before, .bar:after 	{
  content:'';
  height:1px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#2F80ED; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.button-container{
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: -20px;
}


.btn {
  border-radius: 10px;
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1em;
  color: #4f93ce;
  margin: 0 auto;
  padding: 0.4rem 2rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn span {
  color: #fff;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.btn:hover {
  color: #337ab7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.btn:active::before, .button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.conv_content{
  display: block;
}

#bg {
  display: none;
}
.courses_container{
  display: block;
}

.icon{
  display: none;
}

 /*#############################################################################################################################*/ 
.errorsText{
  position: relative;
  top: -20px;
  left: 80%;

}

input.ng-touched.ng-invalid
{
    border-bottom: 1px solid #e91e63;

}
.errorsText {
  position: relative;
  margin-top: 25px;
  left: 10%;
  color: #e91e63;
  font-size: 14px;
}

.content_block_desktop,
.conv_content_desktop{
  display: block;
}

/*################################################Converter###########################################################*/
.conv_desktop{
  float: right;
  width: 300px;
  height: 190px;
  margin-right: 15%;
  margin-top: 5%;
  background: rgb(251, 255, 251);
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.title_desktop{
  text-align: center;
  font-size: 1em;
  margin: 0;
  color: rgb(92, 92, 92)
}

.content_block_desktop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10%;
  height: 170px;
  }

.select_desktop {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  width: 100px;
  height: 40px;
  margin-top: -10px;
  border-bottom: 1px solid #777
}

  /* Сбросить  стили*/
.select-text_desktop {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  font-size: 14px;
  padding: 0;
  font-family: 'Roboto','Helvetica','Arial',sans-serif; 
  background: rgb(251, 255, 251); 
}

.select-text_desktop{
  width: 100px;
  margin-top: 20px;
}
  
.select-text_desktop::-ms-expand {
  display: none;
}

#lit_desktop {
  position: relative;
  top: 50%;
  }



.select-text_desktop:focus {
  outline: none;
  border-bottom: 1px solid rgba(0,0,0, 0);
}

.select_desktop .select-text_desktop {
  appearance: none;
  -webkit-appearance:none;
}

.select_desktop:after {
  position: absolute;
  top: 23px;
  right: 10px;
  /* Стилизация стрелки вниз */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

  /* LABEL ======================================= */
.select-label_desktop {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  transition: 0.2s ease all;
  }

  /* активное состояние */
.select-text_desktop:focus ~ .select-label_desktop, .select-text_desktop:valid ~ .select-label_desktop {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  color: #2F80ED;
  top: -3px;
  left: -1px;
  transition: 0.2s ease all;
  font-size: 14px;
  }

  /* BOTTOM BARS ================================= */
  .select-bar_desktop {
    position: relative;
    display: block;
    width: 100px;
}

.select-bar_desktop:before, .select-bar_desktop:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: -3px;
    position: absolute;
    background: #2F80ED;
    transition: 0.2s ease all;

}

.select-bar_desktop:before {
  left: 50%;
}

.select-bar_desktop:after {
  right: 50%;
}

 /* active state */
 .select-text_desktop:focus ~ .select-bar_desktop:before, .select-text_desktop:focus ~ .select-bar_desktop:after {
  width: 50%;
}

.values_desktop{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90px;
  width: 100%;
  margin: 5px;
  
}

#value_from_desktop{
  position: relative;
  width: 100px;
  font-size: 1em;
  padding: 5px;
  left: -5px;
  border-radius: 0px;
  margin-bottom: 15px;
}

#value_in__desktop{
  position: relative;
  width: 100px;
  font-size: 1em;
  padding: 5px;
  right: -5px;
  border-radius: 0px;
  border-bottom: 1px solid #777;
}

  /*####################################BAR_VAL_INPUT##########################################*/
.bar_conv_desktop { 
  position:relative; 
  display:block; 
  width: 100px; 
  right: 5px;
  top: -13px;
}
  

#value_in__desktop ~ .bar_conv_desktop {
  position:relative;
  top: 2px;
  left: 5px;
}
  
.bar_conv_desktop:before, .bar_conv_desktop:after {
  content:'';
  height:2px; 
  width: 0%;
  bottom:1px; 
  position:absolute;
  background:#2F80ED; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
  .bar_conv_desktop:before {
    left:50%;
  }
  .bar_conv_desktop:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar_conv_desktop:before,  input:focus ~ .bar_conv_desktop:after {
    width:50%;
  }

/*################################################MOBILE###########################################################*/
@media screen and (max-width:  999px){
  .conv_desktop{
    margin-right: 50px;
  }

  .course-container_desktop {
    margin-left: 50px;
  }

}

@media screen and (max-width:  720px){
  .content_desktop_conteiner{
    display: flex;
    flex-direction: column;

  }
  .course-container_desktop {
    margin: 0 auto;
    margin-top: 20px;
  }

  .conv_desktop{
    margin: 0 auto;
    margin-top: 20px;
  }
  
}

@media screen and (max-width:  500px){

.icon{
  display: block;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  }

.titel_desktop{
  display: none;
}


.content_block_desktop,
.conv_content_desktop{
  display: none;
}

.conv_desktop{
  display: none;
}

form {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 2em 2em 1em 2em;
  background: (240, 240, 236);
  padding-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  }

.course-container_desktop{
  display: none;
}


.conv_content{
  display:none ;

}

input 				{
  font-size:16px;
  padding:10px 10px 5px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
 
}

.group 			  { 
  position:relative; 
   
}

.btn{
  position: relative;
  top: -5px;
}


.bar{
  width: 100%;
}

/*###############################################################################################################################*/


/*###############################################################################################*/
#bg{
  display: block;
  margin-top: -130px;
  border-radius: 5px;
}

.module{
  position:relative;  
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 150px;
  border-radius:5px;
  background: rgb(240, 240, 236);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  border-radius: 5px;
}

.module .title_table{
  list-style-type:none;
  width: 100%;
  margin-right: 5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(24, 22, 22)
}

input[name="map"],
input[name="map"]:not(:checked) + div {
    display: none;
}

.tab{
  font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 16px;
  float:left;
  height:60px;
  margin: 0;
  padding-top:20px;
  box-sizing:border-box;
  background:#eee8e8;  
  text-align:center;
  cursor:pointer;
  transition:background .4s;
}

lable:active{
  background: white;
}

.tab:first-child{  
  position: relative;
  -webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
  width: 50%;

}


.tab:last-child{  
  position: relative;
  -webkit-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
  width:  50%;
  
}


.tab:hover{  
  background-color:rgba(0,0,0,.1);
  transition: background 0.5s;
}


.active:checked{  
  background-color:white;
  transition: background 0s;
}

table{
  background:#fff
}


.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}


.activeTab{
  background:#fff;

}


.courses_container{
  display: block;
}


.courses{
  padding-right: 20px;
}

table{
  background:#fff
}
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}

/*########################################Courses#######################################################*/
.course-container{
  width: 100%;
  margin: 0 auto;
  margin-top: 30%;
  border: 1px solid rgb(179, 176, 176);
  border-collapse: collapse;
  background: rgb(251, 255, 251);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}

.courses{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(24, 22, 22);
  width: 100%;
  padding: 2px;
  font-size:16px;
  
}

.courses td:first-child
{
  width: 15%;
  padding: 5px;
  text-align: right;   
 }

.courses td:nth-child(2){
  color: #afa9a9;
  width: 25%;
  padding: 5px;
  
}

.courses  td:nth-child(3){
  text-align: right;
  width: 30%;

}
.courses  td:last-child{
  text-align: right;
  width: 30%;
  line-height: 2.35;
  padding-right: 10px;
}




/*#########################################Converter####################################################*/
.conv_content_desktop {
  display: block;
}



#lit {
  position: absolute;
  bottom: 35px;
  left: 47%;
  font-size: 1.3em;
  }

select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #eff1f5;
  background-image: none;
  font-size: 1em;
  padding: 0;
  
  }

select::-ms-expand {
  display: none;
  }

.select_value{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  
}

.select {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 100px;
  margin-top: 15px;
  border-bottom: 1px solid #777;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
  width: 100px;
  padding:  0;
  margin-top: 25px;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
  
}

.courses_tab{
  position: relative;
  left: -20px;
}


.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}


.select .select-text {
	appearance: none;
	-webkit-appearance:none;
}

.select:after {
	position: absolute;
	top: 27px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


.select-label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:#999;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 20px;
	transition: 0.2s ease all;
}

.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #2F80ED;
	top: -5px;
  left: -1px;
	transition: 0.2s ease all;
	font-size: 14px;
}




.select-bar {
	position: relative;
	display: block;
	width: 100px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: -4px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;

}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 10%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}



.values{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90px;
  width: 100%;
  margin: 5px;
  
}

#value_from{
  position: relative;
  width: 100px;
  font-size: 1em;
  padding: 5px;
  background-color: (240, 240, 236);
  top: 10px;
  border-radius: 0px;
  margin-bottom: 15px;
  background-color: white;
}

#value_in{
  position: relative;
  width: 100px;
  font-size: 1em;
  padding: 5px;
  top: 10px;
  border-radius: 0px;
  border-bottom: 1px solid #777;
  background-color: white;
  right: 5px;
}

.content_block{
  border: 1px solid white;
  background: white;
}

.val_input{
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 100px;
  margin-top: 20px;
}

.rasp{
  width: 20px
}

.bar_conv { 
  position:relative; 
  display:block; 
  width: 100px; 
  right: 0px;
  top: -3px;
  }

.bar_conv_in{
  position:relative; 
  display:block; 
  width: 100px; 
  left: -100px;
  top: -3px;
}

#value_in ~ .bar_conv {
  position:relative;
  top: 11px;
  right: 5px;
}

.bar_conv:before, .bar_conv:after, bar_conv_in:before, bar_conv_in:after   {
  content:'';
  height:2px; 
  width: 0%;
  bottom:1px; 
  position:absolute;
  background:#2F80ED; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar_conv:before, bar_conv_in:before {
  left:50%;
}
.bar_conv:after, bar_conv_in:after  {
  right:50%; 
}


input:focus ~ .bar_conv:before,  input:focus ~ .bar_conv:after {
  width:50%;
}







/*###############################################################################################*/


}





























  

/*######################################################################################*/



/*#######################################################################*/

