<div class="icon">
  <img src="https://img.icons8.com/bubbles/100/000000/salary-male.png">

</div>



  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="group">
      <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
        <span class="highlight"></span><span class="bar"></span>
      <label for="username">Логин</label>
      <div *ngIf="submitted && f.username.errors" class="errorsText">
        <div *ngIf="f.username.errors.required">Введите логин</div>
      </div>
    </div>
    <div class="group">
      <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
      <span class="highlight"></span><span class="bar"></span>
      <label for="password">Пароль</label>
      <div *ngIf="submitted && f.password.errors" class="errorsText">
        <div *ngIf="f.password.errors.required">Введите пароль</div>
    </div>
    </div>
    <div class="button-container">
      <button [disabled]="loading" class="btn button"><span>Войти</span></button>
    </div>
    <div *ngIf="error" class="errorsText">{{error}}</div>
</form>


<!-- Авторизация 
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <label for="username"><b>Логин</b></label>
        <input type="text" formControlName="username" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="errorsText">
            <div *ngIf="f.username.errors.required">Введите логин</div>
        </div>
        <label for="password"><b>Пароль</b></label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="errorsText">
            <div *ngIf="f.password.errors.required">Введите пароль</div>
        </div>
    <button [disabled]="loading" class="btn">Войти</button>
    <div *ngIf="error" class="errorsText">{{error}}</div>
</div>
</form>-->
  <!-- ------------------->   
    <div class="course-container">
      <p class="title"><b>Курс валют</b></p>
      <table class="courses" >
        <tr class="header-table">
          <td></td>
          <td></td>
          <td>Покупка</td>
          <td>Продажа</td>
        </tr>
        <tr *ngFor="let cours of curren">
          <td>{{cours.ccy}}</td>
          <td>{{cours.base_ccy}}</td>
          <td>{{cours.buy | number:'0.1-2'}}</td>
          <td>{{cours.sale | number:'0.1-2'}}</td>
        </tr>
      </table>
    </div>   
<!------------------------------------------------------------------------------->
    <div id="bg">
      <div class="module">
        <ul>
          <li class="tab activeTab" >Courses</li>
          <li class="tab" >Конвертер валют</li>
        </ul>
        <table class="courses">
          <tr class="header-table">
            <td></td>
            <td></td>
            <td>Покупка</td>
            <td>Продажа</td>
          </tr>
          <tr *ngFor="let cours of curren">
            <td>{{cours.ccy}}</td>
            <td>{{cours.base_ccy}}</td>
            <td>{{cours.buy | number:'0.1-2'}}</td>
            <td>{{cours.sale | number:'0.1-2'}}</td>
          </tr>
        </table>
        <div class="conv_content" *ngIf="show">
          <p class="title"><b>Конвертер валют</b></p>
        <div class="content_block">
          <div class="select">
            <select name="slct" [(ngModel)]="inCurr">
               <option *ngFor="let item of curr">{{item}}</option>
            </select>
        </div>
          <p id="lit">в</p>
        <div class="select">
            <select name="slct" [(ngModel)]="outCurr">
                <option *ngFor="let item of curr">{{item}}</option>
            </select>
        </div>
        <div class="values">
            <input type="text" [(ngModel)]="inputValue" id="value_from"  >
            <input type="text"  [value]="currencyVal() | number:'0.1-2' | thousand" id="value_in" >
        </div>
        </div>
        </div>
      </div>
    </div>
<!-- Конвертер-->
<div class="conv_content ">
    <p class="title"><b>Конвертер валют</b></p>
  <div class="content_block">
    <div class="select">
      <select name="slct" [(ngModel)]="inCurr">
         <option *ngFor="let item of curr">{{item}}</option>
      </select>
  </div>
    <p id="lit">в</p>
  <div class="select">
      <select name="slct" [(ngModel)]="outCurr">
          <option *ngFor="let item of curr">{{item}}</option>
      </select>
  </div>
  <div class="values">
      <input type="text" [(ngModel)]="inputValue" id="value_from"  >
      <input type="text"  [value]="currencyVal() | number:'0.1-2' | thousand" id="value_in" >
  </div>
</div>
</div>


  
      
  
    