*{
  background: #ebeeee;
}

/*Форма входа*/
form {
    width: 25%;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 1.5vw;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgb(204, 217, 241);
    background: rgba(226, 238, 225, 0.294);
}
form:hover{
  box-shadow: 2px 2px 5px 5px rgb(161, 204, 245);
}

input[type=text], input[type=password] {
    height: 40px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(167, 164, 164);
    box-sizing: border-box;
    border-radius: 5px;
    
}


.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1vw;
    border-radius: 10px;
}
.btn:active {
    transform: 0.8px;
}

.btn:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}

/* Курс валют*/
.course-container{
  float: left;
  width: 30%;
  margin-top: 50px;
  margin-left: 100px;
  border-collapse: collapse;
  border-radius: 5px;
  background: rgba(233, 235, 233, 0.294);
  box-shadow: 2px 2px 5px 5px rgb(204, 217, 241);
}

.courses{
  width: 100%;
  padding: 3px 3px 3px 3px;
  font-size: 1.5vw;
  font-weight: 600;
}

.courses td:first-child
{
  width: 15%;
  padding: 5px;
  text-align: right;
  
  
}

.courses td:nth-child(2){
  color: #afa9a9;
  font-size: 1.5vw;
  width: 25%;
  padding: 5px;
  
}

.courses  td:nth-child(3){
  text-align: right;
  width: 30%;
  font-size: 1.5vw;
  
}
.courses  td:last-child{
  text-align: right;
  width: 30%;
  line-height: 2.35;
  font-size: 1.5vw;
}

.title{
  text-align: center;
  font-size: 1.5vw;
  margin: 0;
}

/*Конвертер*/
.conv_content{
float: right;
width: 30%;
margin-top: 50px;
margin-right: 100px;
border: 3px solid #f1f1f1;
padding: 10px ;
box-shadow: 2px 2px 5px 5px rgb(204, 217, 241);
}

.content_block {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 10%;
}

#lit {
margin-top: 10px;
font-size: 1.5vw;
}
/* Сбросить  стили*/
select {
outline: 0;
box-shadow: none;
border: 0 !important;
background: #e9ecf0;
background-image: none;
font-size: 1.5vw;
}

select::-ms-expand {
display: none;
}


.select {
position: relative;
display: flex;
width: 40%;
height: 6vh;
line-height: 2;
background: #e9ecf0;
overflow: hidden; 
outline: none; 
border: 1px solid #bdb6b6;
}

select {
flex: 1;
font-size: 1.5vw;
color: rgb(15, 14, 14);
cursor: pointer;

}

.select::after {
content: '\25BC';
position: absolute;
top: 5px;
right: 0;
padding: 0 1vh;
background: #e9ecf0;
cursor: pointer;
pointer-events: none;
transition: .25s all ease;

}

.select:hover::after {
color: #08a036;
}

.values{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 9%;
}

#value_from{
width: 40%;
font-size: 1.5vw;
padding: 5px;
margin-right: 20px;
}

#value_in{
width: 40%;
font-size: 1.5vw;
padding: 5px;
}

.errorsText{
  text-align: center;
  color: #f14242;
  transition: .25s all ease;
}