h4{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: -10px;
}

td{
  height: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button {
    background-color: rgb(57, 60, 235);
    color: white;
    padding: 10px 10px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 10px;
    outline: none;
  
}

.button:active {
    transform: 0.8px;
  }
  
.button:hover {
    opacity: 0.8;
  }

table {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 15px;
    background: rgba(226, 238, 225, 0.294);

}


.table_content td:first-child{
    width: 60%;
    text-align: left;
    border-bottom: rgb(131, 127, 127);
}
.table_content td{
    width: 50%;
    text-align: right; 
    border-bottom: rgb(131, 127, 127);
}