<!-- Авторизация-->

<form [formGroup]="loginForm" novalidate>
    <div class="container">
      <label for="uname"><b>Логин</b></label>
      <input type="text" placeholder="Имя пользователя" name="uname" required>
  
      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Пароль пользователя" name="psw" required>
  
      <button type="submit" (click)="onSubmit()">Войти</button>
    </div>
  </form> 

   
    <div class="course-container">
      <p class="title"><b>Курс валют</b></p>
      <table class="courses" >
        <tr class="header-table">
          <td></td>
          <td></td>
          <td>Покупка</td>
          <td>Продажа</td>
        </tr>
        <tr *ngFor="let cours of courses">
          <td>{{cours.ccy}}</td>
          <td>{{cours.base_ccy}}</td>
          <td>{{cours.buy | number:'0.1-2'}}</td>
          <td>{{cours.sale | number:'0.1-2'}}</td>
        </tr>
      </table>
    </div>
    
    <!-- Конвертер-->
<div class="conv_content ">
  <p class="title"><b>Конвертер валют</b></p>
<div class="content_block">
  <div class="select">
  <select name="slct">
    <option selected disabled>Валюта</option>
    <option value="UAH">UAH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
</div>
<p id="lit">в</p>
<div class="select">
  <select name="slct">
    <option selected disabled>Валюта</option>
    <option value="UAH">UAH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
</div>
<div class="values">
  <input type="text" value="0" id="value_from">
  <input type="text" value="0" id="value_in">
</div>
</div>
</div>

    

  
  
  