<form [formGroup]="personsForm" novalidate>
    <mat-dialog-content>
        <div class="forms">
            <div class="name group">
                <input type="text" class="input_focus" id="name" formControlName="name" required>
                <label class="lable_arr" for="name">Имя</label>
                <span class="bar"></span>
                <div class="alert-danger" *ngIf="personsForm.get('name').errors?.required && personsForm.get('name').touched"></div> 
            </div>
            <div class="surname group">
                <input type="text" class="input_focus" id="surname" formControlName="surname" required>
                <label class="lable_arr" for="surname">Фамилия</label>
                <span class="bar"></span>
                <div class="alert-danger" *ngIf="personsForm.get('surname').errors?.required && personsForm.get('surname').touched"></div> 
            </div>
            <div class="pers_num group">
                <input type="text" class="input_focus" id="pers_num" formControlName="pers_num" required>
                <label class="lable_arr" for="pers_num">Табельный №</label>
                <span class="bar"></span>
                <div class="alert-danger" *ngIf="personsForm.get('surname').errors?.required && personsForm.get('surname').touched"></div>
            </div>
            <div class="length_of_work group">
                <input type="date" class="input_focus" id="length_of_work" name="length_of_work"  min="2000-01-01" max="2020-01-31" formControlName="length_of_work" required>
                <label class="lable_arr" for="length_of_work">Работает с:</label>
                <span class="bar"></span>
                <div class="alert-danger" *ngIf="personsForm.get('surname').errors?.required && personsForm.get('surname').touched"></div>
            </div>
            <div class="status group">
                <div class="select">
                    <select class="select-text" required>
                      <option value="Работает">Работает</option>
                      <option value="Отпуск">Отпуск</option>
                      <option value="Больничный">Больничный</option>
                      <option value="Уволен">Уволен</option>
                    </select>
                    <span class="select-highlight"></span>
                    <span class="select-bar"></span>
                    <label class="select-label">Статус</label>
                  </div>
            </div>
            <div class="phone group">
                <input  type="text" class="input_focus" id="phone" formControlName="phone" [showMaskTyped]="false"  mask="00 (000) 000 00 00"  required>
                <label class="lable_arr" for="phone">Телефон</label>
                <span class="bar"></span>
            </div>
            <div class="salary group">
                <input type="text" class="input_focus" id="salary" formControlName="salary" mask="separator.2" required>
                <label class="lable_arr" for="salary">Сумма</label>
                <span class="bar"></span>  
             </div>
        </div>       
    </mat-dialog-content>
</form>
<div class="btn">
    <button type="button" class="cancelbtn" mat-button mat-dialog-close>Отмена</button>
    <button type="submit" class="pure-material-button-contained" mat-dialog-close mat-button (click)="updateEmploee()">Обновить</button>   
</div>

  