<div class="container">
    <div class="title">
        <h5 mat-dialog-title>Вы подтверждаете удаление?</h5>
    </div>
    <mat-dialog-actions>
        <div class="btn">
            <div class="button_cancel">
                <button type="button" class="cancelbtn" [mat-dialog-close]="false">Отмена</button>
            </div>
            <div class="button_sign">
                <button type="submit" class="delete-material-button-contained" [mat-dialog-close]="true">Удалить</button>
            </div>
        </div>
    </mat-dialog-actions>
</div>