<div class="container">
    <form [formGroup]="personsForm" (submit)="onFormSubmit()">
        <div class="title"> 
            <label for="title group">Название ведомости </label>       
            <input type="text" id="title" formControlName="title" required>
            <span class="bar"></span>          
        </div>
        <div formArrayName="persons" class="form_arr">
        <div *ngFor="let person of persons; let i = index;" [formGroupName]="i">
            <div class="forms">
                <div class="name group">
                    <label for="name">Имя</label>
                    <input type="text" placeholder="Имя сотрудника {{ i + 1 }}"  id="name" formControlName="name" required>
                    <span class="bar"></span>
                    <div class="alert-danger" *ngIf="personsForm.get('name').hasError('required') && personsForm.get('name').touched">  
                        <p>Укажите имя сотрудника</p>
                    </div>
                </div>
                <div class="surname group">
                    <label for="surname">Фамилия</label>
                    <input type="text" placeholder="Фамилия сотрудника {{ i + 1 }}"  id="surname" formControlName="surname" required>
                    <span class="bar"></span>
                    <div class="alert-danger" *ngIf="personsForm.get('surname').hasError('required') && personsForm.get('surname').touched">  
                        <p>Укажите фамилию</p>
                    </div>
                </div>
                <div class="pers_num group">
                    <label for="pers_num">Табельный номер</label>
                    <input placeholder="Фамилия сотрудника {{ i + 1 }}" type="text" id="pers_num" formControlName="pers_num" required>
                    <span class="bar"></span>
                    <div class="alert-danger" *ngIf="personsForm.get('pers_num').hasError('required') && personsForm.get('pers_num').touched">  
                        <p>Укажите табельный номер</p>
                    </div>
                </div>
    
                <div class="length_of_work group">
                    <label for="length_of_work">Дата трудоустройства</label>
                    <input placeholder="Фамилия сотрудника {{ i + 1 }}" type="text" id="length_of_work" formControlName="length_of_work" required>
                    <span class="bar"></span>
                    <div class="alert-danger" *ngIf="personsForm.get('length_of_work').hasError('required') && personsForm.get('length_of_work').touched">  
                        <p>Укажите дату</p>
                    </div>
                </div>
    
                <div class="status group">
                    <label for="status">Статус</label>
                    <select id="status" formControlName="status">
                        <option selected value="">Статус сотрудника</option>
                        <option value="Работает">Работает</option>
                        <option value="Отпуск">Отпуск</option>
                        <option value="Больничный">Больничный</option>
                    </select>
                    <div class="alert-danger" *ngIf="personsForm.get('status').hasError('required') && personsForm.get('status').touched">  
                        <p>Выберете статус сотрудника</p>
                    </div>
                </div>
                
                <div class="phone group">
                    <label for="phone">Телефон</label>
                    <input placeholder="Телефон {{ i + 1 }}" type="text" id="phone" formControlName="phone" required>
                    <span class="bar"></span>
                    <div class="alert-danger" *ngIf="personsForm.get('phone').hasError('required') && personsForm.get('phone').touched">  
                        <p>Выберете статус сотрудника</p>
                    </div>
                </div>
                
                <div class="salary group">
                    <label for="salary">Телефон</label>
                    <input placeholder="salary {{ i + 1 }}" type="text" id="salary" formControlName="salary" required>
                    <span class="bar"></span>
                    <div class="alert-danger" *ngIf="personsForm.get('salary').hasError('required') && personsForm.get('salary').touched">  
                        <p>Введите телефон</p>
                    </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            </div>
            
        <br><br><br><br>
        <button type="button" (click)="addPerson()">Add Person</button>
        <br><br><br><br><br><br>
        <button>
          Submit
        </button>
      </form>


</div>

<!--
<div class="container">
    <h2>Google Material Design на CSS3<small>Пример для input'ов</small></h2> 
    <form>
      <div class="group">      
        <input type="text" required>
        <span class="bar"></span>
        <label>Имя</label>
      </div>
        
      <div class="group">      
        <input type="text" required>
        <span class="bar"></span>
        <label>Email</label>
      </div>  
    </form>    
  </div>
  -->