*{
  font-family: Open Sans Condensed;
}
.forms{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.group {
  position: relative;
  margin-bottom: 30px;
  margin-right: 15px;
  width: 12%;
  min-width: 120px;
}
.title{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 270px;
  margin-top: 10px;
}
.persons{
 margin-top: 20px;
}

input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}
input[type=date]{
  padding: 3px;
}
select {
  outline: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #feffff;
  font-size: 16px;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  animation: none;
}

.static_persons{
  width: 92.5%;
}

#rem_pers{
  visibility: hidden;
}

label {
  color: rgb(99, 96, 96);
  font-size: 16px;
  pointer-events: none;
  display: block;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.titel_bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after,
.titel_bar:before,
.titel_bar:after
{
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before,
.titel_bar:before {
  left: 50%;
}

.bar:after,
.titel_bar:after {
  right: 50%;
}

input:focus ~ label, input:valid ~ label {
top: -15px;
font-size: 14px;
color: #5264AE;
}


input:focus ~ .titel_bar:before,
input:focus ~ .titel_bar:after {
width: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
width: 50%;
}

fieldset{
  border: 2px solid rgba(229, 241, 229, 0.294);
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  background: white;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding-left: -80px;
  padding-block-end: 0;
}

.form{
  width: 70%;
  margin: 0;

}

.form_arr {
  margin-right: 100px;
}

.add_person {
  margin-left: 110px;
  margin-top: 20px;
  width: 100px;
}

a.add_emp {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#888282);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
a.add_emp:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
a.add_emp:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

.sumitted {
display: flex;
justify-content: center;

}

hr {
margin-top: 50px;
}

button {
margin: 10px;
}

input[type=date]{
background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;

}
input[type=date]::-webkit-inner-spin-button {
display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
opacity: 0;
}
input[type=image]{
  width: 50px;
  margin-top: 13px;
  border: none;
 
}
/*
input[type=image]:active{
  
}
*/
.signupbtn
{
  background-color: #759ae9;
  outline:0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 80px;
 }

.signupbtn:hover {
  background-color: #5d89e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
  cursor: pointer;
 }

.signupbtn:active{
  border-top: 1px solid #1b4db3;
  border-right: 1px solid #174299;
  border-bottom: 1px solid #133780;
  border-left: 1px solid #174299;
  -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee; 
}

.cancelbtn{
  background-color: #949390;
  outline:0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8d8f92), color-stop(50%, #828488), color-stop(50%, #6b6b6b), color-stop(100%, #78797a));
  border-top: 1px solid #7e7d7d15;
  border-right: 1px solid #7f8183;
  border-bottom: 1px solid #575555;
  border-left: 1px solid #646568;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(179, 183, 189, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(168, 172, 179, 0.8);
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #a0a5af;
  width: 80px;
}

.cancelbtn:hover {
  background-color: #bcbdc0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeb1b8), color-stop(50%, #787b80), color-stop(50%, #76787a), color-stop(100%, #7d7d7e));
  cursor: pointer;
}

.cancelbtn:active{
  border-top: 1px solid #74767a;
  border-right: 1px solid #717274;
  border-bottom: 1px solid #707174;
  border-left: 1px solid #747579;
  -webkit-box-shadow: inset 0 0 5px 2px #ccced1, 0 1px 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #8f9194, 0 1px 0 #eeeeee; 
}


input.ng-touched.ng-invalid,
input[type=date].ng-touched.ng-invalid,
#status.ng-touched.ng-invalid
{
    border-color: red;
}