/*
.container {
    box-shadow: 0px 1px 2px 2px #a09898;
    border-radius: 5px;
    background-color: #d9f1f6;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 400px;
    max-width: 80%;
   
} 
*/
/* basic stylings ------------------------------------------ */
.container {
    font-family: Open Sans Condensed;
    width: 80%;
    margin: 0 auto;
    display: block;
    background: #FFF;
    padding: 10px 50px;
  }

  .group {
    position: relative;
    margin-bottom: 30px;
  }

 .title{
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
 }
 
  .name,
  .surname,
  .pers_num,
  .length_of_work,
  .phone,
  .status,
  .salary {
    margin-top: 20px;
    float: left;
    width: 100px;
    margin-left: 20px;
    padding-top: 5px;
  }
 
  input:not(#title), select {
    font-size: 16px;
    padding: 5px;
    width: 100px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;

  }
  input:focus {
    outline: none;
  }

  label {
    color: #999;
    font-size: 18px;
    pointer-events: none;
    position: absolute;
    top: -15px;
    left: 10%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 110px;
  }
  .bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
  }

  /* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.forms {
    border: 1px solid gray;
}