<div class="container">
    <form [formGroup]="personsForm" (submit)="onFormSubmit()" novalidate>
        <div class="title">
            <input type="text"  id="title" formControlName="title"  required >
            <label id="lable_arr_title" for="title">Название ведомости</label> 
            <span id="titel_bar"></span> 
            <div class="alert-danger" *ngIf="personsForm.get('title').errors?.required && personsForm.get('title').touched"></div>         
        </div>
        
<!--#######################################################################################################################-->
        <div formArrayName="persons" class="persons"> 
          <div *ngFor="let person of personsForm.get('persons').controls; let i = index;" [formGroupName]="i" class="form_arr">
            <fieldset>
              <div class="forms">
                <div class="name group"> 
                  <input type="text" class="input_focus" id="name" formControlName="name" required>
                  <label class="lable_arr" for="name">Имя</label>
                  <span class="bar"></span>
                  <div class="alert-danger" *ngIf="person.get('name').errors?.required && person.get('name').touched"></div> 
              </div>
                <div class="surname group">
                  <input type="text" class="input_focus" id="surname" formControlName="surname" required>
                  <label class="lable_arr" for="surname">Фамилия</label>
                  <span class="bar"></span>
                  <div class="alert-danger" *ngIf="person.get('surname').errors?.required && person.get('surname').touched"></div> 
                </div>
                <div class="pers_num group">
                  <input type="text" class="input_focus" id="pers_num" formControlName="pers_num" required>
                  <label class="lable_arr" for="pers_num">Табельный №</label>
                  <span class="bar"></span>
                </div>
                <div class="length_of_work group">
                <input type="date" class="input_focus" id="length_of_work" name="length_of_work"  min="2000-01-01" max="2020-01-31" formControlName="length_of_work" required>
                <label class="lable_arr" for="length_of_work">Работает с:</label>
                <span class="bar"></span>
                </div>
                <div class="status group">
                  <div class="select">
                    <select class="select-text" formControlName="status" id="status" required>
                      <option value="" disabled selected></option>
                      <option value="Работает">Работает</option>
                      <option value="Отпуск">Отпуск</option>
                      <option value="Больничный">Больничный</option>
                      <option value="Уволен">Уволен</option>
                    </select>
                    <span class="select-highlight"></span>
                    <span class="select-bar"></span>
                    <label class="select-label">Статус</label>
                  </div>
                </div>
                <div class="phone group">   
                    <input  type="text" class="input_focus" id="phone" formControlName="phone" [showMaskTyped]="false"  mask="00 (000) 000 00 00"  required>
                    <label class="lable_arr" for="phone">Телефон</label>
                    <span class="bar"></span>
                </div>
                <div class="salary group">
                    <input type="text" class="input_focus" id="salary" formControlName="salary" mask="separator.2" required>
                    <label class="lable_arr" for="salary">Сумма</label>
                    <span class="bar"></span>  
                 </div>
                <div class="remove_person">
                  <input type="image" id="del_emp" (click)="removePerson(i)" value="Удалить" title="Удалить сотрудника" src="../../../assets/delete_forever-24px.svg" required>
                </div>
                </div>
              </fieldset>
            </div> 
          </div>  
          <div class="add_person">
            <div class="wrapper" >
              <button class="hidden-trigger" ></button>
              <p class="circle" (click)="addPerson()" title="Добавить сотрудника" ><img class="add_img" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png" alt="" /></p> 
            </div>
          </div>
          <hr>
          <div class="sumitted">
            <button type="button" class="cancelbtn" routerLinkActive="active" routerLink='/' title="Отменить отправку и вернуться на главную">Отмена</button>
            <button type="submit" class="pure-material-button-contained" title="Создать ведомость">Создать</button>
          </div>  
    </form>          
</div> 



