* {
  box-sizing: border-box;
}

.header {
overflow: hidden;
background-color: #536ff0;
padding: 10px 0px;
margin: 0;
height: 50px;
}

.header a {
float: left;
color: rgb(250, 240, 240);
text-align: center;
padding: 7px;
text-decoration: none;
font-size: 1.5em; 
line-height: 10px;
border-radius: 4px;
}

.header a.logo {
margin-top: 3px;
color: beige;
font-size: 1.3em;
font-weight: bold;
}

.name_user{
color: beige;
margin-top: 3px;
font-size: 1.1em !important;
}


.header-right {
float: right;
}

.logout {
  width: 25px;
  margin-top: -5px;
}
.logo_img{
  width: 30px;
}

.button_show{
display: flex;
}

/*#########################################################################################*/






.title_content{
  display: inline-flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 3%;
  margin-left: 15%;
  
}

.add_btn_st{
  display: inline-flex;
 margin-left: 2%;
  
}


/* demo контейнер */
.demo {
  margin: 0 auto;
  margin-top: 5%;
  width: 60%;

}

input[name="map"],
input[name="map"]:not(:checked) + div {
    display: none;
}


.title{
  padding: 10px;
  font-weight: 600;
  margin-left: 25px;
 }

 
 #statement:after {  
  background: url("https://image.flaticon.com/icons/png/512/130/130884.png") no-repeat 50% 50%/ 10px 10px ;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
  margin: 5px;
  margin-top: 2px;
}

.title_check:after{
  transform: rotateZ(90deg);
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  margin: 5px;
}


.title_check{
  color: red;
  -webkit-animation:fade ease-in 0.5s; 
  -moz-animation:fade ease-in 0.5s;
   animation:fade ease-in 0.5s; 
}


.content{
  margin-top: 100px;
  -webkit-animation:fade ease-in 0.5s; 
  -moz-animation:fade ease-in 0.5s;
   animation:fade ease-in 0.5s; 
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 130px;
  padding: .625em;
  text-align: center;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 130px;
  padding: .625em;
  text-align: center;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 130px;
  padding: .625em;
  text-align: center;
}

table th:last-child,
table td:last-child {
  width: 130x;
  padding: .625em;
  text-align: right;
}



table 
td:first-child,
th:first-child
{
  width: 10px;
  text-align: center;
  padding: .625em;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}


.table_btn{
  margin: 3px;
  width: 80px;
}

.show_btn,
.update_btn
 {
  background-color: #759ae9;
  outline:0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 80px;
  }
.show_btn:hover,
.update_btn:hover
 {
    background-color: #5d89e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
    cursor: pointer;
    }
.show_btn:active,
.update_btn:active
 {
    border-top: 1px solid #1b4db3;
    border-right: 1px solid #174299;
    border-bottom: 1px solid #133780;
    border-left: 1px solid #174299;
    -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee; 
}

.delete_btn,
.delete_statement{
  background-color: #e97975;
  outline:0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e98c75), color-stop(50%, #f1594e), 
  color-stop(50%, #f84134), color-stop(100%, #f1430e));
  border-top: 1px solid #f34223;
  border-right: 1px solid #f04014;
  border-bottom: 1px solid #e92d0c;
  border-left: 1px solid #eb290f;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(255, 57, 57, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(255, 64, 57, 0.8);
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #d9201a;
  width: 80px;
}

.delete_btn:hover,
.delete_statement:hover{
    background-color: #e85d5d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8625d), color-stop(50%, #e02f22), color-stop(50%, #d92404), color-stop(100%, #de370d));
    cursor: pointer;
}

.delete_btn:active,
.delete_statement:active{
    border-top: 1px solid #b3201b;
    border-right: 1px solid #992017;
    border-bottom: 1px solid #801313;
    border-left: 1px solid #992617;
    -webkit-box-shadow: inset 0 0 5px 2px #a01e1a, 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #a02e1a, 0 1px 0 #eeeeee; 
}

.del_btn_st{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.add_statement{
   background-color: #759ae9;
   outline:0;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
   border-top: 1px solid #1f58cc;
   border-right: 1px solid #1b4db3;
   border-bottom: 1px solid #174299;
   border-left: 1px solid #1b4db3;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
   box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
   color: #fff;
   font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
   padding: 7px 0;
   text-shadow: 0 -1px 1px #1a5ad9;
   width: 80px;
   height: 30px;
   
   }

 .add_statement:hover {
   background-color: #5d89e8;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
   cursor: pointer;
   }

 .add_statement:active{
   border-top: 1px solid #1b4db3;
   border-right: 1px solid #174299;
   border-bottom: 1px solid #133780;
   border-left: 1px solid #174299;
   -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
   box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee; 
 }


@media screen and (max-width: 1150px) {
  table {
    border: 0;
  }

  table th:last-child,
  table td:last-child {
  width: 150px;
  padding: .625em;
  text-align: right;
}

}

@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

table 
td:first-child,
th:first-child
{
  width: 98%;
  text-align: right;
}
table th:nth-child(4),
table td:nth-child(4) {
  width: 98%;
  text-align: right;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 98%;
  text-align: right;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 98%;
  text-align: right;
}

table th:last-child,
table td:last-child {
width: 98%;
padding: .625em;

}

table 
td:last-child
{
  text-align: center;  
}

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {

    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


@media screen and (max-width: 370px){
  
  .add_btn_st {
    margin: 0 auto;
  }
}

@media screen and (max-width: 676px){
  
  .add_btn_st {
    margin-right: 260px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 676px){
  
  .add_btn_st {
    margin-right: 260px;
    margin-top: 5px;
  }
}
