<div class="header" *ngIf="currentUser">
    <a class="logo">MySalary</a>
    <div class="header-right">
      <a class="name_user">{{currentUser.firstName}}</a>
      <a (click)="logout()"><img class="logout" src="../../../assets/icons8-exit-100.png"></a>
    </div>
  </div>


<div class="demo" *ngFor="let emp of employes; let el = index;" >
    <input class="hide" id="{{ el + 1 }}" type="checkbox">
    <label for="{{ el + 1 }}">{{emp.title}}</label>
  <div class="content" >
    <table class="content-table" >
      <tr class="header-table">
        <td>№</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>К выплате</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let persons of emp.persons; let i = index;">
        <td>{{ i + 1 }}</td>
        <td>{{persons.name}}</td>
        <td>{{persons.surname}}</td>
        <td>{{persons.salary | number:'0.1-2' | thousand}} грн</td>
        <td><input type="button" value="Изменить" (click)="updateEmploee(i)"></td>
        <td><input type="button" value="Удалить" (click)="deleteUser(emp, i)"></td>
        <td><input type="button" value="Просмотр" (click)="getEmpInfo(emp, i)"></td>
      </tr>
    </table>
    <input type="button" value="Удалить" (click)="deleteEmployee(emp)">
  </div>
 
</div>

